.coin{
    background:radial-gradient(circle, rgba(189,147,189,0.9500175070028011) 0%, rgba(155,180,203,0.7651435574229692) 100%, rgba(0,212,255,1) 100%)be7cbe;
}
.vfs{
    color:#858562;
    align-items: ;
    word-wrap: break-word;
}