/* .Content{
    margin-top: 70px;
    padding: 30px 15px;
    min-height: calc(100vh - 123px)
} */

.Wrapper{
    position: relative;
    top: 0;
    height: 100vh
}

.Mainpanel {
    overflow: auto;
    position: relative;
    float: right;
    transition:all 1s cubic-bezier(0.685, 0.0473, 0.346, 1);
    max-height: 100%;
    height:100vh;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    /* background-color: lawngreen; */
    width: calc(100% - 270px);
}

.Body{
    padding:30px;
    background-color: #c7c7c7;
    min-height:100vh;
    overflow-x:hidden;
}